*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    background-color: #C4C4C4;
    height:10vh; 
    width: 100vw;
    display:flex;
    justify-content: space-between;
}

nav{
    /* width: 10vw; */
    margin: auto 5vh;
}

.logo{
    margin: auto 5vh;
    width: 10vw;
}

.logo:hover {
    cursor: pointer;
    color:blueviolet;
}

.linkList {
    display: flex;
}

.linkList li {
    list-style: none;
    margin: auto 20px;
    overflow:hidden;
}

.linkList li a {
    text-decoration: none;
    color: black;
}

.linkList li a:hover{
    cursor: pointer;
    color:blueviolet;
}

.contentWrapper {
    height:90vh;
}

footer {
    height: 10vh;
    background-color:green;
}